<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a class="back-link" href="./index.html">Go back</a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link {=$highlight-act}" href="./1-gallery.html"
            >Gallery</a
          >
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link {=$highlight-curr}" href="./2-form.html"
            >Form</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
